<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders"
       aria-selected="true">Заказы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
       aria-selected="false">По заказчику</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
       aria-selected="false" (click)="recalcByDish()">По блюду</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">

    <div class="col-lg-12 mt-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-2"><h4>Заказы</h4></div>
            <div class="col-lg-3">
              <div class="form-group input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                <span class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="btn-group float-right" role="group" aria-label="Ordering">
                <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" title="Заказ из Skype"
                        (click)="importFromSkype(importModal)">
                  <i class="fa fa-skype"></i>
                </button>
                <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" title="Создать заказ">
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
            <ngb-panel *ngFor="let order of orders; let i = index">
              <ng-template ngbPanelTitle>
                <span>{{order.customerAlias}}, {{order.price}}₴</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-sm-4"><input class="form-control-sm" type="text" [(ngModel)]="order.customerAlias">
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <div class="btn-group btn-group-sm pull-right" role="group">
                      <button class="btn btn-success" role="button" (click)="addOrderItems(order)"><i
                        class="fa fa-coffee"> Добавить</i></button>
                      <button class="btn btn-info" role="button" (click)="updateOrder(i)"><i class="fa fa-save">
                        Сохранить</i></button>
                      <button class="btn btn-danger" role="button" (click)="removeOrder(i)"><i class="fa fa-remove">
                        Удалить</i></button>
                    </div>
                  </div>
                </div>
                <app-order [order]="order"></app-order>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>

  </div>


  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <div class="col-12 mt-3">
      <table class="table table-sm table-striped table-hover">
        <thead class="thead-dark">
          <th>Заказчик</th>
          <th>Стоимость</th>
          <th>Блюда</th>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.customerAlias}}</td>
          <td>{{order.price}}₴</td>
          <td>{{order.dishes()}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>


  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

    <div class="col-12 mt-3">
      <table class="table table-sm table-striped table-hover">
        <thead class="thead-dark">
          <th>Блюдо</th>
          <th>Кол-во</th>
          <th>Заказчики</th>
        </thead>
        <tbody>
        <tr *ngFor="let dishOrders of ordersByDish">
          <td>{{dishOrders.dish.name}}</td>
          <td>{{dishOrders.qty}}</td>
          <td>{{dishOrders.users()}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


<app-order-parser #importModal></app-order-parser>
